<launch>
  <arg name="main" default="true" />
  <arg name="box_type" default="ctb" />

  <include file="$(find rmuieus)/launch/multi_rmui_planning.launch">
    <arg name="robot" value="baxter" />
    <arg name="main" value="$(arg main)" />
    <arg name="box_type" value="$(arg box_type)" />
  </include>
</launch>
