<launch>
  <arg name="main" default="true" />
  <arg name="rmui_name" default="rmui0" />

  <include file="$(find rmuieus)/launch/rmui_planning.launch">
    <arg name="robot" value="baxter" />
    <arg name="main" value="$(arg main)" />
    <arg name="rmui_name" value="$(arg rmui_name)" />
  </include>
</launch>
