<launch>
  <arg name="problem" default="dualarm-liftup" />
  <arg name="main" default="true" />
  <arg name="display_graph" default="true" />

  <include file="$(find rmuieus)/launch/rmui_pddl.launch">
    <arg name="robot" value="baxter" />
    <arg name="problem" value="$(arg problem)" />
    <arg name="main" value="$(arg main)" />
    <arg name="display_graph" value="$(arg display_graph)" />
  </include>
</launch>
