<launch>
  <arg name="main" default="true" />
  <arg name="pdf" default="true" />

  <include file="$(find rmuieus)/launch/rmui_task_training.launch">
    <arg name="robot" value="baxter" />
    <arg name="main" value="$(arg main)" />
    <arg name="pdf" value="$(arg pdf)" />
  </include>
</launch>
