<launch>
  <arg name="robot" default="pr2" />
  <arg name="main" default="true" />
  <arg name="box_type" default="ctb" />

  <node pkg="rmuieus" type="$(arg robot)-rmui-planning.l" name="rmui_main"
        args="&quot;(main :rmui-names (list \&quot;rmui0\&quot; 
                                            \&quot;rmui1\&quot;
                                            \&quot;rmui2\&quot;)
                          :box-types :$(arg box_type))&quot;"
        if="$(arg main)" required="true" output="screen" />
</launch>
