<launch>
  <arg name="main" default="true" />
  <arg name="stamp" default="latest" />

  <include file="$(find rmuieus)/launch/rmui_trained_execute.launch">
    <arg name="robot" value="pr2" />
    <arg name="main" value="$(arg main)" />
    <arg name="stamp" value="$(arg stamp)" />
  </include>
</launch>
