<launch>
  <arg name="robot" default="pr2" />
  <arg name="main" default="true" />
  <arg name="wall" default="false" />
  <arg name="scene_name" default="one_ctb" />

  <arg name="wall_flag" value="t" if="$(arg wall)" />
  <arg name="wall_flag" value="nil" unless="$(arg wall)" />

  <node pkg="rmuieus" type="$(arg robot)-rmui-planning.l" name="rmui_main"
        args="&quot;(main :scene-name \&quot;$(arg scene_name)\&quot;
                          :wall-p $(arg wall_flag))&quot;"
        if="$(arg main)" required="true" output="screen" />
</launch>
