<launch>
  <arg name="robot" default="pr2" />
  <arg name="problem" default="dualarm-liftup" />
  <arg name="main" default="true" />
  <arg name="display_graph" default="true" />

  <include file="$(find pddl_planner)/launch/pddl_ffha.launch" />

  <node pkg="rmuieus" name="demo_rmui" type="$(arg robot)-solve-pddl.l" if="$(arg main)"
        args="&quot;(main :$(arg problem))&quot;" output="screen">
    <param name="display_graph" value="$(arg display_graph)" />
  </node>

  <node pkg="smach_viewer" name="smach_viewer" type="smach_viewer.py" />

</launch>
