<launch>
  <arg name="robot" default="pr2" />
  <arg name="main" default="true" />
  <arg name="pdf" default="true" />
  <arg name="rmui_name" default="rmui0" />

  <arg name="pdf-flag" value="t" if="$(arg pdf)" />
  <arg name="pdf-flag" value="nil" unless="$(arg pdf)" />

  <node name="statenet_server" pkg="rmuieus" type="$(arg robot)-statenet-server.l"
        args="&quot;(main :pdf $(arg pdf-flag) :rmui-names (list \&quot;$(arg rmui_name)\&quot;))&quot;"
        output="screen" required="true" if="$(arg main)">
  </node>

  <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py" />

  <node name="rqt_ez_publisher" pkg="rqt_ez_publisher" type="rqt_ez_publisher"
        args="--slider-file $(find rmuieus)/resource/rqt_ez_publisher.yaml" />

</launch>
