<launch>
  <arg name="robot" />
  <arg name="scene_name" />

  <arg name="main" default="true" />
  <arg name="pdf" default="true" />
  <arg name="collabo" default="true" />
  <arg name="wall" default="false" />
  <arg name="grasp_mask_rcnn" default="false" />

  <arg name="pdf_flag" value="t" if="$(arg pdf)" />
  <arg name="pdf_flag" value="nil" unless="$(arg pdf)" />

  <arg name="skip_flag" value="t" unless="$(arg collabo)" />
  <arg name="skip_flag" value="nil" if="$(arg collabo)" />

  <arg name="wall_flag" value="t" if="$(arg wall)" />
  <arg name="wall_flag" value="nil" unless="$(arg wall)" />

  <arg name="grasp_mask_rcnn_flag" value="t" if="$(arg grasp_mask_rcnn)" />
  <arg name="grasp_mask_rcnn_flag" value="nil" unless="$(arg grasp_mask_rcnn)" />

  <node name="statenet_server" pkg="rmuieus" type="$(arg robot)-statenet-server.l"
        args="&quot;(main :scene-name \&quot;$(arg scene_name)\&quot;
                          :wall-p $(arg wall_flag)
                          :skip-interaction $(arg skip_flag)
                          :pdf $(arg pdf_flag)
                          :use-grasp-mask-rcnn $(arg grasp_mask_rcnn_flag))&quot;"
        output="screen" required="true" if="$(arg main)">
  </node>

  <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py"
        output="screen" />

  <node name="rqt_ez_publisher" pkg="rqt_ez_publisher" type="rqt_ez_publisher"
        args="--slider-file $(find rmuieus)/resource/rqt_ez_publisher.yaml" />

</launch>
