<launch>
  <arg name="robot" default="pr2" />
  <arg name="main" default="true" />
  <arg name="pdf" default="true" />
  <arg name="collabo" default="true" />
  <arg name="rmui_name" default="rmui0" />
  <arg name="box_type" default="ctb" />

  <arg name="pdf_flag" value="t" if="$(arg pdf)" />
  <arg name="pdf_flag" value="nil" unless="$(arg pdf)" />

  <arg name="skip_flag" value="t" unless="$(arg collabo)" />
  <arg name="skip_flag" value="nil" if="$(arg collabo)" />

  <node name="statenet_server" pkg="rmuieus" type="$(arg robot)-statenet-server.l"
        args="&quot;(main :rmui-names (list \&quot;$(arg rmui_name)\&quot;)
                          :box-types :$(arg box_type)
                          :skip-interaction $(arg skip_flag)
                          :pdf $(arg pdf_flag))&quot;"
        output="screen" required="true" if="$(arg main)">
  </node>

  <node name="smach_viewer" pkg="smach_viewer" type="smach_viewer.py"
        output="screen" />

  <node name="rqt_ez_publisher" pkg="rqt_ez_publisher" type="rqt_ez_publisher"
        args="--slider-file $(find rmuieus)/resource/rqt_ez_publisher.yaml" />

</launch>
