<launch>
  <arg name="n_box" />

  <arg name="dummy" default="false" />
  <arg name="launch_device" default="true" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />

  <!-- rmui0 -->
  <include file="$(find rmui_demos)/launch/common/include/rmui_device_base.launch">
    <!-- <arg name="rmui_machine" value="mtc1" /> -->
    <arg name="rmui_machine" value="mtc2" />
    <arg name="rmui_name" value="rmui0" />
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="false" />
    <arg name="dummy" value="$(arg dummy)" />
    <arg name="launch_device" value="$(arg launch_device)" />
  </include>

  <group if="$(eval arg('n_box') == 3)">
    <node pkg="tf" type="static_transform_publisher" name="rmui0_static_transform_publisher"
          args="0 0 0 0 0 0 1 rmui_world rmui0_world 100" />
  </group>
  <group if="$(eval arg('n_box') == 2)">
    <node pkg="tf" type="static_transform_publisher" name="rmui0_static_transform_publisher"
          args="0 -0.3 0 0 0 0 1 rmui_world rmui0_world 100" />
  </group>
  <group if="$(eval arg('n_box') == 1)">
    <node pkg="tf" type="static_transform_publisher" name="rmui0_static_transform_publisher"
          args="0 0 0 0 0 0 1 rmui_world rmui0_world 100" />
  </group>

  <!-- rmui1 -->
  <group if="$(eval arg('n_box') >= 2)">
    <include file="$(find rmui_demos)/launch/common/include/rmui_device_base.launch">
      <!-- <arg name="rmui_machine" value="mtc2" /> -->
      <arg name="rmui_machine" value="mtc3" />
      <arg name="rmui_name" value="rmui1" />
      <arg name="n_board" value="$(arg n_board)" />
      <arg name="duration" value="$(arg duration)" />
      <arg name="gui" value="false" />
      <arg name="dummy" value="$(arg dummy)" />
      <arg name="launch_device" value="$(arg launch_device)" />
    </include>
    <group if="$(eval arg('n_box') == 3)">
      <node pkg="tf" type="static_transform_publisher" name="rmui1_static_transform_publisher"
            args="0 0.5 0 0 0 0 1 rmui_world rmui1_world 100" />
    </group>
    <group if="$(eval arg('n_box') == 2)">
      <node pkg="tf" type="static_transform_publisher" name="rmui1_static_transform_publisher"
            args="0 0.3 0 0 0 0 1 rmui_world rmui1_world 100" />
    </group>
  </group>

  <!-- rmui2 -->
  <group if="$(eval arg('n_box') >= 3)">
    <include file="$(find rmui_demos)/launch/common/include/rmui_device_base.launch">
      <!-- <arg name="rmui_machine" value="mtc3" /> -->
      <arg name="rmui_machine" value="mtc1" />
      <arg name="rmui_name" value="rmui2" />
      <arg name="n_board" value="$(arg n_board)" />
      <arg name="duration" value="$(arg duration)" />
      <arg name="gui" value="false" />
      <arg name="dummy" value="$(arg dummy)" />
      <arg name="launch_device" value="$(arg launch_device)" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="rmui2_static_transform_publisher"
          args="0 -0.5 0 0 0 0 1 rmui_world rmui2_world 100" />
  </group>

  <!-- gui -->
  <include file="$(find rmui_demos)/launch/common/include/display.launch" if="$(arg gui)">
    <arg name="n_box" value="$(arg n_box)" />
    <arg name="dummy" value="$(arg dummy)" />
  </include>

</launch>
