<launch>
  <arg name="rosbag" />
  <arg name="marker_frame_id" default="ar_marker_1" />

  <arg name="loop" default="true" />
  <arg name="loop_flag" value="--loop" if="$(arg loop)" />
  <arg name="loop_flag" value="" unless="$(arg loop)" />

  <node pkg="rmui_demos" type="rmui_pose_publisher.py" name="rmui_pose_publisher"
        output="screen" />

  <node pkg="rmui_demos" type="marker_pose_publisher.py" name="marker_pose_publisher"
        output="screen">
    <rosparam subst_value="true">
      marker_frame_id: $(arg marker_frame_id)
    </rosparam>
  </node>

  <!-- rosbag player -->
  <node pkg="rosbag" type="play" name="rosbag_play"
        args="$(arg rosbag) $(arg loop_flag) --clock" output="screen" />

</launch>
