<launch>
  <arg name="rmui" default="true" />
  <arg name="rmui_name" default="rmui0" />
  <arg name="dummy" default="false" />
  <arg name="launch_device" default="true" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />

  <arg name="marker" default="false" />
  <arg name="marker_frame_id" default="ar_marker_1" />

  <arg name="record" default="true" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg name="main" default="true" />
  <arg name="wall" default="false" />
  <arg name="grasp_mask_rcnn" default="false" />
  <arg name="scene_name" default="one_ctb" />

  <include file="$(find rmui_demos)/launch/pr2/pr2_rmui.launch">
    <arg name="dummy" value="true" />
    <arg name="rmui" value="$(arg rmui)" />
    <arg name="rmui_name" value="$(arg rmui_name)" />
    <arg name="launch_device" value="$(arg launch_device)" />
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="record" value="$(arg record)" />
    <arg name="compress" value="$(arg compress)" />
    <arg name="main" value="$(arg main)" />
    <arg name="wall" value="$(arg wall)" />
    <arg name="grasp_mask_rcnn" value="$(arg grasp_mask_rcnn)" />
    <arg name="scene_name" value="$(arg scene_name)" />
    <arg name="marker" value="$(arg marker)" />
    <arg name="marker_frame_id" value="$(arg marker_frame_id)" />
  </include>
</launch>
