<launch>
  <arg name="rmui" default="true" />
  <arg name="dummy" default="false" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />

  <arg name="marker" default="false" />
  <arg name="marker_frame_id" default="ar_marker_1" />

  <arg name="record" default="true" />
  <arg name="rosbag" default="/tmp/tmp.bag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg name="main" default="true" />

  <include file="$(find rmui_demos)/launch/common/common_rmui.launch" if="$(arg rmui)">
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="dummy" value="$(arg dummy)" />
  </include>

  <node pkg="rmuieus" type="pr2-rmui-main.l" name="rmui_main"
        args="&quot;(main)&quot;" if="$(arg main)" output="screen" />

  <include file="$(find rmui_demos)/launch/pr2/pr2_ar_tracker.launch"
           if="$(arg marker)" />

  <include file="$(find rmui_demos)/launch/pr2/pr2_rosbag_record.launch"
           if="$(arg record)">
    <arg name="rosbag" value="$(arg rosbag)" />
    <arg name="compress" value="$(arg compress)" />
  </include>

  <node pkg="rmui_demos" type="marker_pose_publisher.py" name="marker_pose_publisher"
        respawn="true" output="screen" if="$(arg marker)">
    <rosparam subst_value="true">
      marker_frame_id: $(arg marker_frame_id)
    </rosparam>
  </node>


</launch>
