<launch>
  <arg name="rmui" default="true" />
  <arg name="dummy" default="false" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />
  <arg name="marker_frame_id" default="ar_marker_1" />
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <include file="$(find rmui_drivers)/launch/rmui.launch" if="$(arg rmui)">
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="dummy" value="$(arg dummy)" />
  </include>

  <include file="$(find rmui_demos)/launch/pr2/pr2_ar_tracker.launch" />

  <include file="$(find rmui_demos)/launch/pr2/pr2_rosbag_record.launch">
    <arg name="rosbag" value="$(arg rosbag)" />
    <arg name="compress" value="$(arg compress)" />
  </include>

  <node pkg="rmui_demos" type="rmui_pose_publisher.py" name="rmui_pose_publisher"
        respawn="true" output="screen" if="$(arg rmui)" />

  <node pkg="rmui_demos" type="marker_pose_publisher.py" name="marker_pose_publisher"
        output="screen">
    <rosparam subst_value="true">
      marker_frame_id: $(arg marker_frame_id)
    </rosparam>
  </node>

</launch>
