<launch>
  <arg name="master_address" />
  <arg name="master_port" />

  <arg name="launch_dialogflow" default="false" />

  <!-- app manager -->
  <include file="$(find jsk_robot_startup)/lifelog/app_manager.launch" >
    <arg name="master" value="true"/>
    <arg name="master_address" value="$(arg master_address)"/>
    <arg name="master_port" value="$(arg master_port)"/>
    <arg name="use_applist" value="false" />
    <arg name="respawn" value="false" />
    <arg name="basic" value="false" />
    <arg name="enable_app_replacement" value="false"/>
    <arg name="skip_topic_remapping" value="true"/>
  </include>

  <!-- dialogflow -->
  <include if="$(arg launch_dialogflow)"
           file="$(find dialogflow_task_executive)/launch/dialogflow_task_executive.launch">
    <arg name="run_app_manager" value="false" />
    <arg name="soundplay_action_name" value="remotesound" />
    <arg name="volume" value="0.8" />
    <arg name="language" value="en-US" />
    <arg name="use_yaml" value="true" />
    <arg name="yaml_file" value="/var/lib/robot/baxter_dialogflow_credential.yaml" />
  </include>
  <rosparam ns="dialogflow_client">
    hotword:
      - hello
      - hi
      - hey
  </rosparam>
</launch>
