<launch>
  <arg name="robot" />
  <arg name="rmui" default="true" />
  <arg name="dummy" default="false" />
  <arg name="launch_device" default="true" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />

  <arg name="record" default="true" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg name="main" default="true" />
  <arg name="pdf" default="true" />
  <arg name="collabo" default="true" />
  <arg name="n_box" default="3" />
  <arg name="box_type" default="ctb" />
  <arg name="wall" default="false" />
  <arg name="align_axis" default="y" />

  <arg name="marker" default="false" />
  <arg name="marker_frame_id" default="ar_marker_1" />

  <group if="$(arg rmui)">
    <include file="$(find rmui_demos)/launch/common/common_multi_rmui_base.launch">
      <arg name="n_box" value="$(arg n_box)" />
      <arg name="n_board" value="$(arg n_board)" />
      <arg name="duration" value="$(arg duration)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="dummy" value="$(arg dummy)" />
      <arg name="launch_device" value="$(arg launch_device)" />
    </include>
  </group>

  <!-- eus -->
  <include file="$(find rmuieus)/launch/multi_rmui_statenet_server.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="main" value="$(arg main)" />
    <arg name="pdf" value="$(arg pdf)" />
    <arg name="collabo" value="$(arg collabo)" />
    <arg name="n_box" value="$(arg n_box)" />
    <arg name="box_type" value="$(arg box_type)" />
    <arg name="wall" value="$(arg wall)" />
    <arg name="align_axis" value="$(arg align_axis)" />
  </include>

  <!-- rosbag -->
  <include file="$(find rmui_demos)/launch/$(arg robot)/$(arg robot)_rosbag_record.launch"
           if="$(arg record)">
    <arg name="compress" value="$(arg compress)" />
  </include>

  <!-- marker -->
  <group if="$(arg marker)">
    <include file="$(find rmui_demos)/launch/$(arg robot)/$(arg robot)_ar_tracker.launch" />
    <node pkg="rmui_demos" type="marker_pose_publisher.py" name="marker_pose_publisher"
          respawn="true" output="screen" if="$(arg marker)">
      <rosparam subst_value="true">
        marker_frame_id: $(arg marker_frame_id)
      </rosparam>
    </node>
  </group>

</launch>
