<launch>
  <arg name="dummy" default="false" />
  <arg name="launch_device" default="true" />

  <arg name="n_box" default="2" />
  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />

  <!-- rmui0 -->
  <group if="$(eval arg('n_box') >= 3)">
    <include file="$(find rmui_demos)/launch/common/common_rmui_base.launch">
      <arg name="rmui_name" value="rmui0" />
      <arg name="n_board" value="$(arg n_board)" />
      <arg name="duration" value="$(arg duration)" />
      <arg name="gui" value="false" />
      <arg name="dummy" value="$(arg dummy)" />
      <arg name="launch_device" value="$(arg launch_device)" />
    </include>
    <node pkg="tf" type="static_transform_publisher" name="rmui0_static_transform_publisher"
          args="0 0 0 0 0 0 1 rmui_world rmui0_world 100" />
  </group>

  <!-- rmui1 -->
  <include file="$(find rmui_demos)/launch/common/common_rmui_base.launch">
    <arg name="rmui_name" value="rmui1" />
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="false" />
    <arg name="dummy" value="$(arg dummy)" />
    <arg name="launch_device" value="$(arg launch_device)" />
  </include>
  <group if="$(eval arg('n_box') >= 3)">
    <node pkg="tf" type="static_transform_publisher" name="rmui1_static_transform_publisher"
          args="0 0.5 0 0 0 0 1 rmui_world rmui1_world 100" />
  </group>
  <group unless="$(eval arg('n_box') >= 3)">
    <node pkg="tf" type="static_transform_publisher" name="rmui1_static_transform_publisher"
          args="0 0.3 0 0 0 0 1 rmui_world rmui1_world 100" />
  </group>

  <!-- rmui2 -->
  <include file="$(find rmui_demos)/launch/common/common_rmui_base.launch">
    <arg name="rmui_name" value="rmui2" />
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="false" />
    <arg name="dummy" value="$(arg dummy)" />
    <arg name="launch_device" value="$(arg launch_device)" />
  </include>
  <group if="$(eval arg('n_box') >= 3)">
    <node pkg="tf" type="static_transform_publisher" name="rmui2_static_transform_publisher"
          args="0 -0.5 0 0 0 0 1 rmui_world rmui2_world 100" />
  </group>
  <group unless="$(eval arg('n_box') >= 3)">
    <node pkg="tf" type="static_transform_publisher" name="rmui2_static_transform_publisher"
          args="0 -0.3 0 0 0 0 1 rmui_world rmui2_world 100" />
  </group>

  <!-- gui -->
  <group if="$(arg gui)">
    <node name="$(anon rviz)" pkg="rviz" type="rviz"
          args="-d $(find rmui_drivers)/rvizconfig/multi_rmui.rviz" />
    <node name="$(anon reset_button)"
          pkg="jsk_rqt_plugins" type="rqt_tabbed_buttons" output="screen" clear_params="true">
      <rosparam command="load" if="$(eval arg('n_box') >= 3)"
                file="$(find rmui_drivers)/resource/rmui0_to_rmui2_tabbed_layout.yaml" />
      <rosparam command="load" unless="$(eval arg('n_box') >= 3)"
                file="$(find rmui_drivers)/resource/rmui1_to_rmui2_tabbed_layout.yaml" />
    </node>
  </group>

</launch>
