<launch>
  <arg name="master_address" default="baxter" />
  <arg name="master_port" default="11311" />
  <arg name="launch_dialogflow" default="true" />

  <param name="robot/name" value="baxter_remote"/>
  <param name="robot/type" value="baxter"/>

  <include file="$(find rmui_demos)/launch/common/common_app_manager.launch">
    <arg name="master_address" value="$(arg master_address)"/>
    <arg name="master_port" value="$(arg master_port)"/>
    <arg name="launch_dialogflow" value="$(arg launch_dialogflow)" />
  </include>
</launch>
