<launch>
  <arg name="home_dir" default="$(env HOME)" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
      args="/rosout
            /robot/joint_states
            /tf
            /tf_static
            /audio
            /rmui0/rmui_node/output/imu
            /rmui0/rmui_node/output/imu/calib_status
            /rmui0/rmui_node/output/imu_calibrated
            /rmui0/rmui_node/output/proximities
            /rmui0/rmui_pose_publisher/output
            /rmui0/rmui_rviz/image/compressed
            /rmui1/rmui_node/output/imu
            /rmui1/rmui_node/output/imu/calib_status
            /rmui1/rmui_node/output/imu_calibrated
            /rmui1/rmui_node/output/proximities
            /rmui1/rmui_pose_publisher/output
            /rmui1/rmui_rviz/image/compressed
            /rmui2/rmui_node/output/imu
            /rmui2/rmui_node/output/imu/calib_status
            /rmui2/rmui_node/output/imu_calibrated
            /rmui2/rmui_node/output/proximities
            /rmui2/rmui_pose_publisher/output
            /rmui2/rmui_rviz/image/compressed
            -q $(arg compress_flag) -b 0
            --output-prefix $(arg home_dir)/.ros/rmui/rosbag/baxter_rmui"
      output="screen" />
</launch>
