<launch>
  <arg name="home_dir" default="$(env HOME)" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />
  <arg name="rmui_name" default="rmui0" />

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
      args="/rosout
            /robot/joint_states
            /tf
            /tf_static
            /audio
            /$(arg rmui_name)/rmui_node/output/imu
            /$(arg rmui_name)/rmui_node/output/imu/calib_status
            /$(arg rmui_name)/rmui_node/output/imu_calibrated
            /$(arg rmui_name)/rmui_node/output/proximities
            /$(arg rmui_name)/rmui_pose_publisher/output
            /rmui_rviz/image/compressed
            -q $(arg compress_flag) -b 0
            --output-prefix $(arg home_dir)/.ros/rmui/rosbag/baxter_$(arg rmui_name)"
      output="screen" />
</launch>
