<robot name="rmui">
  <link name="rmui_link">
    <inertial>
      <origin xyz="0 0 0.1" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="50" ixy="0" ixz="0" iyy="50" iyz="0" izz="50" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.2" />
      </geometry>
    </collision>
  </link>
</robot>
