<launch>
  <arg name="dummy" default="false" />

  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <include file="$(find rmui_drivers)/launch/rmui.launch">
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="dummy" value="$(arg dummy)" />
  </include>

  <include file="$(find rmui_drivers)/launch/pr2_ar_tracker.launch" />

  <include file="$(find rmui_drivers)/launch/pr2_rosbag_record.launch">
    <arg name="rosbag" value="$(arg rosbag)" />
    <arg name="compress" value="$(arg compress)" />
  </include>

</launch>
