<launch>
  <arg name="machine" default="mtc2" />
  <arg name="group_name" default="rmui1" />
  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="touch_prx_threshold" default="500" />
  <arg name="gui" default="true" />
  <arg name="dummy" default="false" />
  <arg name="launch_device" default="true" />

  <include file="$(find rmui_drivers)/launch/rmui/rmui_base.launch">
    <arg name="machine" value="$(arg machine)" />
    <arg name="group_name" value="$(arg group_name)" />
    <arg name="n_board" value="$(arg n_board)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="touch_prx_threshold" value="$(arg touch_prx_threshold)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="dummy" value="$(arg dummy)" />
    <arg name="launch_device" value="$(arg launch_device)" />
  </include>

</launch>
