<launch>
  <arg name="machine" default="rmui" />
  <arg name="n_board" default="6" />
  <arg name="duration" default="0.1" />
  <arg name="gui" default="true" />
  <arg name="dummy" default="false" />

  <include file="$(find rmui_drivers)/launch/machine/rmui.machine" />
  <machine name="localhost" address="localhost" />

  <group ns="rmui0">
    <param name="robot_description"
           command="$(find xacro)/xacro.py $(find rmui_description)/urdf/rmui.urdf" />
    <node name="rmui_node" pkg="rmui_drivers" type="rmui_node.py"
          output="screen" machine="$(arg machine)" unless="$(arg dummy)">
      <rosparam subst_value="true">
        n_board: $(arg n_board)
        duration: $(arg duration)
      </rosparam>
    </node>
    <node name="rmui_node" pkg="rmui_drivers" type="dummy_rmui_node.py"
          output="screen" if="$(arg dummy)">
      <rosparam subst_value="true">
        n_board: $(arg n_board)
        duration: $(arg duration)
      </rosparam>
    </node>
    <include file="$(find rmui_drivers)/launch/include/robot_localization.launch.xml"
             unless="$(arg dummy)"/>
  </group>

  <node name="rmui_server" pkg="rmui_drivers" type="rmui_server.py"
        output="screen">
    <rosparam>
      approximate_sync: true 
      queue_size: 10
      node_0: /rmui0/rmui_node
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="$(anon rviz)" pkg="rviz" type="rviz"
          args="-d $(find rmui_drivers)/rvizconfig/rmui.rviz" />
    <node name="$(anon reset_button)"
          pkg="jsk_rqt_plugins" type="rqt_tabbed_buttons" output="screen" clear_params="true">
      <rosparam command="load" file="$(find rmui_drivers)/resource/rmui_tabbed_layout.yaml" />
    </node>
  </group>

</launch>
